<label>Server Name</label>
<!-- <input 
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
/> -->
<input 
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
/>
<button 
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
>
    Add Server
</button>
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer" >{{serverCreationStatus}}</p>
<ng-template #noServer ><p>{{serverCreationStatus}}</p></ng-template>
<app-server *ngFor="let server of servers"></app-server>

<button (click)="onClickDetails()">
    Display Details
</button>
<p *ngIf="details">Secret password = tuna</p>
<div 
    *ngFor="let click of buttonClicks; let i = index"
    [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'white'}"
    [ngClass]="{fifth: i >= 4}"
>
    {{click}}
</div>

